.explore {
    display: flex;
    flex-direction: column;
    gap: 80px;
    background: #E9F7FE;
    padding: 80px 0px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 80px;

        h1 {
            color: rgb(29, 41, 63);
            font-size: 58px;
            font-weight: 500;
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap: 50px;
        text-align: center;

        p {
            color: rgb(140, 151, 172);
            font-size: 18px;
        }

        &__cards {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-items: center;
        }
    }

    &__cards {
        display: flex;
        flex-direction: row;
        gap: 50px;
        overflow: auto;
        scrollbar-width: none;
    }

    &__card {
        // width: 350px;
        min-width: 300px;
        height: 250px;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 30px;
        background-color: #fff;
    }
}

@media (max-width: 1070px) {
    .explore__cards {
        gap: 20px;
    }
}

@media (max-width: 980px) {
    .explore__top__cards {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
    }
}

@media (max-width: 670px) {
    .explore__wrapper h1 {
        font-size: 40px;
    }

    .explore__card {
        min-width: 250px;
        height: 200px;
    }

    .explore__top__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
}

@media (max-width: 430px) {
    .explore__card {
        min-width: 180px;
        height: 200px;
    }

    .explore__top__cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
    }

    .explore__wrapper h1 {
        font-size: 28px;
    }
}

